.background-full {
  background-color: #ecf0f1;
  overflow-y: hidden;
  overflow-x: hidden;

  .lux-header {
    position: relative;
    height: 70px;

    .icon-header {
      position: absolute;
      top: 50%;
      right: 10px;
      z-index: 1000;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
      }
    }
  }

  .content {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
